doctype html
html
  head
    title Spider Dance Academy
    block scripts
    block style 
    //-   script(src='/jquery.js')
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | SDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    
    block content 
    footer#footer
        | Copyright © 2023 SpiderAcademy.com | All Rights Reserved
    