h1{
    text-align: center;
    margin: 12px 0;
}
.container{
    justify-content: center;
    min-height: 80vh;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.container h1{
    font-family: 'ZCOOL QingKe HuangYou';
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    width: 40%;
    font-size: 16px;
    padding: 9px;
    margin: 8px;
    border: 2px solid #9d8e8e;
    border-radius: 12px;
    outline: none;
}

.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background: #d43b3b;
    cursor: pointer;
}